# Dependencies
node_modules/
package-lock.json

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
!debug.keystore

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Environment variables
.env
.env*.local

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build artifacts
android/app/build/
android/.gradle/
ios/Pods/
ios/build/
*.apk
*.aab
*.ipa

# Cache
.cache/
*.cache
